.App {
  text-align: center;
}

.btn.call {
  padding: 8px;
  width: 100px;
  border: 1px solid lightblue;
  background-color: dodgerblue;
  color: white;
}
.btn.call:hover {
  background-color: white;
  color: dodgerblue;
  border: 1px solid lightblue;
}

.person {
  margin: 10px;
}

.all {
  color: lightblue;
}

.bold {
  color: red;
}
